<% provide :title, "Shouts" %>
<h1>Yellbox!</h1>
<% @shouts.each do |shout| %>
	<h2><%= word_wrap(shout.body) %></h2>
	<div class="author">
		--<%= shout.user.mtgname %>
		<% if current_user?(shout.user) then %>
			<div class="btn-group">
				<a class="btn btn-mini dropdown-toggle"
				   data-toggle="dropdown"
				   href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to edit_shout_path(shout) do %>
							<i class="icon-pencil"></i> edit
						<% end %>
					</li>
					<li>
						<%= link_to shout_path(shout), method: "delete" do %>
							<i class="icon-trash"></i> remove
						<% end %>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>
<%= link_to "Make yourself heard", new_shout_path %>