<!DOCTYPE html>
<html>
<head>
  <title>Alpha1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12 header">
				<%= render 'layouts/header' %>
			</div>
		</div>
		<div class="row">
			<div class="span2 leftbar">
				<%= render 'layouts/leftbar' %>
			</div>
			<div class="span8 mainbar">
				<%= yield %>
				<%= debug(params) if Rails.env.development? %>
			</div>
			<div class="span2 rightbar">
				<%= render 'layouts/rightbar' %>
			</div>
		</div>
		<div class="row">
			<div class="span12 footer">
				<%= render 'layouts/footer' %>
			</div>
		</div>		
	</div>
</body>
</html>
